/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

h2, p, label {
  font-family: 'Mukta Malar', sans-serif;
  font-size: 2rem;
}

body {
  font-size: 1rem;
  font-family: 'Mukta Malar', sans-serif;
}

h1 {
  font-family: 'Pacifico', cursive;
}

input[type=number] {
  display: inline-block !important;
  width: 6em;
}

.button {
  background-color: #fff;
  width: 75px;
  height: 30px;
}

#designCanvas {
  margin: 0 auto;
}

#designCanvas td {
  border: 1px solid #000;
  width: 31px;
}
